.executive-form-wrapper {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #F0F0F0 !important;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 20px 15px !important;

    width: 800px;
    margin: 0 auto;
}
